@tailwind base;
@tailwind components;
@tailwind utilities;


  @keyframes slide-left {
    0% {
      transform: translateX(100%);
      transition: all .3s ease 0;
      opacity: 0;
      
    }

    

    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slide-right {
    0% {
      transform: translateX(-100%);
      transition: all .1s ease 0;
      opacity: 0;
      
    }

    

    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  
  .animate-slide-left {
    animation: slide-left 2s ease-in-out;
  }

  .animate-slide-right {
    animation: slide-right 5s ease-in-out;
  }

